

.cart-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90vw;
    gap: 20px;
}

.cart-container > h2{
    width: 100%;
    border-bottom: 1px solid black;
}

.cartTotal > h2{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.cartItems{
    width: 65%;
    max-height: 600px;
    min-height: 400px;
    border: 1px solid black;
    overflow-y: auto;
}

.cartTotal{
    width: 30%;
    max-height: 250px;
    min-height: 200px;
    border: 1px solid black;
}

.cartTotal > p{
    text-align: center;
    margin-top: 40px;
}

.cart-remove-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ordernow-button{
    padding: 10px 10px 10px;
    border: 1px solid teal;
    background-color: teal;
    color :white;
    border-radius: 15px;
    margin: auto;
}

.total-container,.subtotal-container{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-around;
}

.total-container>p:first-child,.subtotal-container>p:first-child{
    width: 43%;
}

.total-button-container{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.total-button-container > button{
    padding: 12px 15px 12px;
    background-color: teal;
    border: 1px solid rgb(13, 94, 13);
    border-radius: 15px;
    color: white;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.total-button-container > button:hover{
    transform: scale(1.05);
}


@media screen and (max-Width : 600px) {
    .cartItems{
        width: 100%;
        
    }
}