.view-product-container{
    display: flex;
    justify-content: center;
    width: 91vw;
    gap: 10px;
    height: 400px;
    margin: auto;
}

.product-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.product-image-container > img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border: 2px solid rgb(177, 177, 160);
    border-radius: 10px;
    box-shadow: 10px 10px 2px 1px bisque;

}

.product-description-container{
    width: 50%;
    padding : 20px;
}

.product-description-container > p{
    margin-top: 50px;
}

.quantity-button-container{
    display: flex;
    width: 100%;
    margin: 0;
    padding: auto;
    justify-content: space-around;
    align-items: center;
}

.feature-button{
    width: 100%;
    align-self: center;
    padding: 7px 10px 7px;
    border: 1px solid rgb(207, 207, 204);
    border-radius: 5px;
    cursor: pointer;
}

.feature-button:hover{
    background-color: black;
    color: white;
}