.buynow-container {
    background-image: url('/images/buynow-man.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 95vw;
    min-width: 380px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-direction: column;
}

.buynow-heading{
    color: white;
    font-style: italic;
    padding-left: 20px;
}

.buynow-paragraph-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 0px 20px 0px;
}

.buynow-button{
    padding: 5px 10px 5px;
    border-radius: 14px;
    height: 40px;
    color: black;
    background-color: white;
    border: 1px solid beige;
    transition: transform 0.2s ease-in;
}

.buynow-button:hover{
    transform: scale(1.1);
}

@media screen and (max-Width : 580px) {
    .buynow-container{
        height: 550px;
        width: 95vw;
        min-width: 300px;
    }

    .buynow-button{
        width: 30%;
        align-self: center;
    }

    .buynow-paragraph-container > p{
        font-size: 13px;
    }

}