.buynow-heading{
    color: white;
    font-style: italic;
    padding-left: 20px;
}

.buynow-paragraph-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 0px 20px 0px;
}

.buynow-button{
    padding: 5px 10px 5px;
    border-radius: 14px;
    height: 40px;
    color: black;
    background-color: white;
    border: 1px solid beige;
    transition: transform 0.2s ease-in;
}

.buynow-button:hover{
    transform: scale(1.1);
}