.footer-container{
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: auto;
    margin-top: 30px;
}

.footer-newsletter-container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 40px;
}

.footer-newsletter-container > h1{
    font-size: 40px;
    margin: 0;
}

.footer-newsletter-container > p{
    color: gray;
}

.footer-button-container > input {
    padding: 10px 20px 10px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-button-container > button{
    padding: 10px 20px 10px;
    border-radius: 30px;
    color: white;
    background-color: black;
}

.footer-information-container{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-right: 40px;
}

.footer-products > p{
    color: gray;
    cursor: pointer;
}

.footer-products > p:hover{
    text-decoration: underline;
}

.footer-categories > p{
    color: gray;
    cursor: pointer;
}

.footer-categories > p:hover{
    text-decoration: underline;
}

.footer-social-medias{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}


@media screen and (max-width : 600px){
    .footer-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-information-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer-products{
        margin-left: 20px;
    }

    .footer-social-medias{
        display: none;
    }

}
