.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-lists{
    display: flex;
    width: 33%;
    padding-left: 50px;
    gap: 10px;
}

.nav-lists > p{
    cursor: pointer;
}

.nav-icons { 
    cursor: pointer;
    padding-right: 10px;
}

.logo-container{
    width: 33%;
    text-align: center;
}

.logo-name{
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: 10;
    cursor: pointer;
}

.nav-buttons-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 33%;
}

.nav-search{
    padding: 7px 5px 7px;
    border-radius: 10px;
}

.dropdown-modal-container,.dropdown-overlay-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.dropdown-overlay-container{
    background-color: rgba(0 , 0 , 0, 0.4);
}

.dropdown-modal-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgb(226, 226, 226);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.dropdown-nav-children{
    width: 100%;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
    padding-top: 20px;
    text-align: center;
}

.dropdown-nav-children:hover{
    background-color: lightgray;
}

@media screen and (max-Width : 600px){

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    
    .nav-responsive-container{
        margin-left: 20px;
    }
}
